body{
    background-color: rgb(77, 94, 3);
    background-image: url('pictures/vector-game-background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;*/
}