body {
  font-family: Arial, sans-serif;
  background-color: rgb(77, 94, 3);
  background-image: url('pictures/backgrounds/vector-game-background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.menu {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

button {
  padding: 10px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin: 2px;
}
button:hover {
  background-color: #0056b3;
}

.card {
  /*
  original card mesurement: 56mm * 100mm radius 5mm
  scaled by: 1.5
  */
  width: 84px;
  height: 150px;
  border-radius: 7.5px;
  background-color: darkgray;
  background-image: url('pictures//card_images/back.png');
  color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.cardColor {
  background-size: auto;
}

.name {
  display: block;
  background-image: url('pictures/red_logo.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.nameH1 {
  color: whitesmoke;
  margin-bottom: 170px;
  margin-top: 5px;
}
.nameForm {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.nameInput {
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 7px;
  border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  margin: 2px;
  margin-right: 0;
}
.nameButton {
  border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  margin-left: 0;
}

.ready {
  display: none;
  width: 200px;
}
#readyList { list-style-type: none; margin: 0; padding: 0; }
#readyList > li { padding: 0.5rem 1rem; }
#readyList > li:nth-child(odd) { background: #efefef; }

.startButton {
  width: 80%;
  margin-top: 7px;
}
.startDebugButton {
  width: 50%;
  padding: 0;
  color: black;
  background-color: rgba(1,1,1,0.1);
}

.game {
  display: none;
  width: 100%;
  height: 100%;
  margin: 10px;
}

.table {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
td {
  text-align: center;
}
th {
  padding: 3px;
}

.leaderbord {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}
.noBorder {
  border-collapse: collapse;
  border: none;
}
.noBorder td {border: 1px solid black;}
.noBorder tr:first-child td {border-top: none;}
.noBorder tr:last-child td {border-bottom: none;}
.noBorder tr td:first-child {border-left: none;}
.noBorder tr td:last-child {border-right: none;}

.noBorder th {border: 1px solid black;}
.noBorder tr:first-child th {border-top: none;}
.noBorder tr:last-child th {border-bottom: none;}
.noBorder tr th:first-child {border-left: none;}
.noBorder tr th:last-child {border-right: none;}

.trumpfDisplayContainer{
  position: absolute;
  background-color: rgba(128, 128, 128, 0.45);
  text-align: center;
  transform: translate(0, -130px);
  border-radius: 10px;
}
.trumpfDisplay{
  width: 70px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('pictures/colors/question-mark.png');
}

.mitte {
  position: absolute;
  /*width: 400px;*/
  display: flex;
  justify-content: space-between;
}

.stapel {
  background-color: rgb(35 35 69);
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cardArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(245, 245, 245, 0.75);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}
.message > h2 {
  margin: 0;
}

.messageOverlay {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

.player {
  position: absolute;
  bottom: -1020px;
  background-color: rgba(50, 50, 50, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rotatingContainer {
  position: absolute;
}
.hoverAndRotateFix {
  transform: translate(-525px) rotate(-90deg);
}
.hoverAndRotateFix:hover .handCard {
  transform: translate(0, -30px) scale(1.3);
}
.handCard {
  will-change: transform;
  background-color: transparent;
  transition: transform 0.4s ease;
}
.selected {
  box-shadow: 0 0 20px rgba(0, 0, 255, 1);
  border: solid;
  border-width: 3px;
  border-color: blue;
}
.notValid {
  box-shadow: 0 0 20px rgba(255, 0, 0, 1);
  border: solid;
  border-width: 3px;
  border-color: red;
}
.currentPlayer{
  background-color: rgba(50, 70, 130, 0.5);
}

.otherPlayersContainer {
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 800px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-90deg);
}
.otherPlayer {
  position: absolute;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.otherHand {
  position: absolute;
  width: 500px;
  height: 500px;
  bottom: -250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.rotateFix {
  transform: translate(-295px) rotate(-90deg);
}
.playerName{
  color: white;
}