body {
  font-family: Arial, sans-serif;
  background-color: rgb(77, 94, 3);
  background-image: url('pictures/vector-game-background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.menu {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

button {
  padding: 10px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin: 2px;
}
button:hover {
  background-color: #0056b3;
}

.card {
  /*
  original card mesurement: 59mm * 91mm radius 5mm
  scaled by: 1.5
  */
  width: 88.5px;
  height: 136.5px;
  border-radius: 7.5px;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.name {
  display: block;
  background-image: url('pictures/red_logo.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.nameH1 {
  color: whitesmoke;
  margin-bottom: 170px;
  margin-top: 5px;
}
.nameForm {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.nameInput {
  padding: 10px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 7px;
  border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  margin: 2px;
  margin-right: 0;
}
.nameButton {
  border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  margin-left: 0;
}

.ready {
  display: none;
  width: 200px;
}
#readyList { list-style-type: none; margin: 0; padding: 0; }
#readyList > li { padding: 0.5rem 1rem; }
#readyList > li:nth-child(odd) { background: #efefef; }
.startButton {
  width: 80%;
}

.game {
  display: none;
  width: 100%;
  height: 100%;
  margin: 10px;
}

.table {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderbord {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}
.noBorder {
  border-collapse: collapse;
  border: none;
}
.noBorder td {border: 1px solid black;}
.noBorder tr:first-child td {border-top: none;}
.noBorder tr:last-child td {border-bottom: none;}
.noBorder tr td:first-child {border-left: none;}
.noBorder tr td:last-child {border-right: none;}

.mitte {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.stapel {
  background-color: whitesmoke;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}